Logs/

**/bin/
bin-int/
build/
Build/
cmake-build-debug/
out/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user
**.csproj.filters

# CLion files
.idea/

#Others
**.json